.style{
    display: flex ;
    width: 50%;
}

.caja{
    display: flex;
}

.mono{
    display:inline-block;
}

.negrita{
    font-weight: bold;
}

.padding{
    padding:0px 10px 0px 10px;
    margin-right: 10px;
}

.between{
    display: flex;
    justify-content: left;
    padding: 0;
}

.input{
    width: 200px;
}

.hijo{
    display: flex;
}


